$color-grey-lg : #EEEEEE;
$color-grey-med :#686D76;
$color-grey-dk:#373A40;
$color-pri: #FD2D01;
$color-sec:#FFD7D7;
// $color-sec:#177480;
$xs : 414px;
$sm : 576px;
$med : 768px;
$lg: 992px;
$xl:1200px;
$xxl:1400px;
