.card-profile{
    width:90%;
    background: $color-sec!important;
    margin-top:1em;
    @media(min-width:$sm){
        width:80%;
    }
    @media(min-width:$med){
        width:50%;
    }
    @media(min-width:$lg){
        @include flex-mix($content:space-between);
        width:80%;
    }
    @media(min-width:$xl){
        width:65%;
    }
    @media(min-width:$xxl){
        width:60%;
    }
    & .profile-img{

        margin: auto;
        width:49%;
        & img{
            border-radius:50%;
            padding: 1em;
            background: $color-grey-dk;
            @media(min-width:$lg){
                width:60%;
                margin-left:10%;
            }
            @media(min-width:$xl){
                width:60%;
                margin-left:20%;
            }
            max-width:280px;
            
        }
        & .mod-img{
            @include flex-mix();
            position: absolute;
            top:.2em;
            left:2em;
            width:50px;
            height:50px;
            font-size:2em;
            color:$color-sec;
            background: $color-grey-med;
            border-radius:50%;
            @media(min-width:$xs){
                top:1em;
                left:2.5em;
            }
            @media(min-width:500px){
                top:1em;
                left:3em;
            }
            @media(min-width:$sm){
                top:.8em;
                left:4.5em;

            }
            @media(min-width:$med){
                top:.5em;
                left:3.5em;
            }
            @media(min-width:$lg){
                top:1.8em;
                left:2.5em;
            }
            @media(min-width:$xl){
                left:3em;
            }
        }
    }
    & .list-group{
        @media(min-width:$lg){
            width:40%;
            margin-right:10%;
        }
        & .list-group-item{
            border-radius:15px;
            min-height:70px;
            @include flex-mix($content:start);
            margin: .5em 0;
            & label{
                @include flex-mix($content:start);
            }
            & strong {
                font-size: .9em;
                @media(min-width:$sm){
                    font-size:1.2em;
                }
                @media(min-width:$lg){
                    font-size:1em;
                }
            }
            & .icon-pen{
                position:absolute;
                z-index:999;
                right:1em;
                bottom:1em;
                font-size:1.5em;
                color: $color-grey-dk;
                &.notvalid{
                    font-size:2em;
                    right:.5em;
                    bottom:1em;
                }
            }
            & .icon-delete{
                position:absolute;
                right:.5em;
                bottom:.7em;
                font-size:2em;
                color:$color-pri;
            }
        }
    }
    & .icon-confirme{
        position:absolute;
        z-index: 99;
        right:.6em;
        bottom:0;
        font-size:1.8em;
        color: rgb(24, 193, 24)
    }
}
.article-profile{
    margin: .5em .5em;
    padding: .2em 1em;
    background: $color-sec;
    border:2px solid $color-grey-lg;
    border-radius: 25px;
    text-shadow: 0 0 2px #fff;
    font-size:1.2em;
    border-radius:5px;
    box-shadow: 0px 0px 15px $color-grey-med;
    display:inline-block;
}
.box-profile{
    & .card{
        max-width:500px;
        margin: 0 auto 1em;
    }
}
.users{
    width:100%!important;
    padding: .2em .5em;
  & span{
     font-size:.8em;
     @media(min-width:$sm){
         font-size:1em;
     }
  }
  & select{
      margin:.5em;
  }
  & svg{
    margin-top:.5em 2em;
    font-size:20px;
    color:rgb(24, 193, 24);
  }
}
    
.icon-valid{
    color:rgb(24, 193, 24);
    margin-left: 1em;
    margin-bottom: 0em!important;
}
.hide{
    display:none;
}