.box-top.desk{
    & #container-forum{
        width:95%;
        margin: 0 auto;
        @media(min-width:$lg){
            width:80%;
        }
        @media(min-width:$xl){
            width:75%;
        }
        max-width:820px;
        & h1{
            margin: .5em .5em;
            padding: .2em 1em;
            background: $color-sec;
            border:2px solid $color-grey-lg;
            border-radius: 25px;
            text-shadow: 0 0 2px #fff;
            font-size:1.2em;
            border-radius:5px;
            box-shadow: 0px 0px 15px $color-grey-med;
        }
    }
}
#aside-menu{
    padding: .4em;
    border-radius:5px;
    box-shadow: 0px 0px 15px $color-grey-med;
    & h2{
        font-size:1em;
    }
    & .NavCat{
        border: 1px solid $color-pri;
        border-radius: 5px;
        background: $color-sec;
        color:$color-grey-dk;
        width:95%;
        margin:.1em auto;
        text-decoration: none;
        padding-left: .4em;
        font-size:1em;
        box-shadow: 0px 0px 15px $color-grey-med;
        &:hover{
            color:$color-grey-med;
            background: $color-grey-lg;
        }
    }
    & p {
        color:$color-grey-dk;
        text-shadow: 0 0 5px $color-sec;
        padding-left: .5em;
        margin: 0;
    }
}

// div.border:nth-child(2),.p-2.border{
//     background: $color-sec;
// }
// menu left
.d-none.d-md-block{
    background: $color-grey-lg;
}
.box-cards{
    padding: 0 1em;
    @media(min-width:$lg){
        padding-left: 2em;

    }
}